<div class="empty-set">
  <button mat-raised-button color="primary">Create Rules</button>
  <button mat-raised-button color="primary">Create Report</button>

  <mat-form-field>
    <mat-label>Purcahse Company</mat-label>
    <mat-select>
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{option.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Department</mat-label>
    <mat-select>
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{option.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="selected">
  <button mat-raised-button color="primary">Create Rules</button>
  <button mat-raised-button color="primary">Create Report</button>
  <button mat-raised-button><span class="icon-button"><mat-icon>edit</mat-icon>Edit</span></button>
  <button mat-raised-button><span class="icon-button"><mat-icon>file_copy</mat-icon>Duplicate</span></button>
  <button mat-raised-button><span class="icon-button"><mat-icon>delete</mat-icon>Delete</span></button>
</div>